# dependências
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# testes
/coverage

# segredos — NUNCA versionar
.env
.env.*
!.env.example
!.env.prod.example

# dados
/backups
/certbot

# sistema
.DS_Store
*.pem
*.log
npm-debug.log*
